<form method="post" id="loginForm">
    <label for="email">Email: </label> <br />
    <input type="text" id="email" class="formInput" /> <br />
    <label for="password">Password: </label> <br />
    <input type="password" name="password" id="password" class="formInput" /> <br />
    <button type="button" class="submitButton" id="signinBtn" onclick="HideSignInPage()">Sign In</button>
    <button type="button" class="submitButton" id="registerBtn" onclick="GetRegisterationForm()">Register</button>
</form>
