@{
    ViewData["Title"] = "Home Page";
}

<h1 id="mainScreenScreen">Welcome to FHP</h1>

<div id="modalContainer">
<div id="registrationContainer"></div>
</div>

<table id="traineeDataTable">
    <thead>
        <tr>
            <th style="width:30px;"></th>
            <th>Sr. no</th>
            <th>Prefix</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Education</th>
            <th>Joining Date</th>
            <th>Current Address</th>
            <th>Current Company</th>
            <th>Date Of Birth</th>
        </tr>
    </thead>
    <tbody>
        <tr id="filterBoxRow">
            <td></td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox"/>
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
            <td>
                <input type="text" name="name" value="" class="textSearchBox" />
            </td>
        </tr>
    </tbody>
</table>