@model List<FHP_Res.Entity.Trainee>

    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var trainee in Model)
        {
            <tr>
                <td>
                    @trainee.FirstName
                </td>
            </tr>
        }
        </tbody>
    </table>